*{
    margin: 0;
    padding: 0;
}


body{
    min-height: 100vh;
    display:flex;
     align-items: center;
     justify-content:center;

}

.outer{

    width:250px;
    height:73vh;
    background-color: rgb(121, 89, 47);
    
            cursor: pointer;
            }



.box{
    width:85px;
    height:100px;
    margin: 60px 16px;
    display: inline-flex;
    border: 3px rgb(104, 76, 40) solid;
}
.knob{
    margin:0 0 10px 6px;
    border-radius: 50%;
    width: 28px;
    height:45px;
    background-color:silver;
    position:absolute;
}
